<!doctype html>
	<html>

	<head>

	<title>CSS Playground</title>
	<link rel="stylesheet" type="text/css" href="../CSS/Main.css">

	</head>

	<body>
		<h1>CSS Items</h1>

		<div class="cat">

		<h3>Uses</h3>
			<Ul>
				<li>To give the appearance of your site, a unique look and feel</li>
				<li>To alter colors, fonts, backgrounds, etc.</li>
				<li>To implement some effects and animations, although it's not as powerful as jQuery/Javascripts</li> 
			</Ul></div>
		<hr>
		<div class= "bored">
		<h3>CSS Statements</h3>
		<p>Four main components of CSS statement</p>
			<ol class="centering">
				<li><b>Declaration:</b>The whole CSS statement in curly braces.</li>
				<li><b>Selector:</b>The name of the part you want to style.</li>
				<li><b>Property:</b>Properties to edit(e.g, Width, Height, Background, etc.)</li>
				<li><b>Value:</b>Numbers, Colors, Urls - things to  give value to the property. </li>
			</ol>
		</div> 
		<hr>
		<div class="cat">

		<h3>Classes</h3>
		</div>


	</body>


	</html>