<!doctype html>
	<html>

	<head>
<title>HTML Playground</title>

	</head>

	<body>
		<h1>HTML Items</h1>
		<h2>Header Tags</h2>
		<h1>h1</h1>
		<h3>h3</h3>
		<h6>h6</h6>
		<hr>

		<h2>Paragraph Tag</h2>
		<p>I can write whatever I want in this because it is a paragraph tag meant for giving information.</p>
		<hr>

		<h2>Hyperlinks and href</h2>
		<p> Use the "a href" tag for a link, copy and paste the link</p>
		<a href="http://www.w3schools.com/"> W3Schools Resource</a>
		<hr>

		<h2>Images</h2>
			<p>Images are easy to add, Create a folder called "img". Save images in img folder. </p>
			<p> Use the "img src" tag. </p>
			<img src="../img/dog.jpg">

			<hr>
			<h1>Divs</h1>
			<div id = "Blue" style="color:blue;border:solid">
				<center><p> Hello </p></center>
			</div>
			<div id = "Red" style="color:red">
				<p> This is Red </p>
			</div>
		<div id = "Back" style="Background:red">
		<br>
		<br>
		</div>








	</body>


	</html>