<!doctype html>
	<html>

	<head>
		<link rel="stylesheet" type="text/css" href="../CSS/Main.css">
			<title>Javascript Playground</title>

	</head>

	<body>
		<h1>Javascript Items</h1>
	<div class="nav">
		<ul>
			<li><a class="default" href="../index.html">Home</li></a>
			<li><a href="html-playground.html">HTML</li></a>
			<li><a href="CSS-playground.html">CSS</li></a>
			<li><a href="Bootstrap-playground.html">Bootstrap</li></a>
			<li><a href="Javascript -playground.html">JavaScript</li></a>
			<li><a href="jQuery-playground.html">jQuery</li></a>
			<li><a href="Git-playground.html">Git</li></a>
			<li><a href="Resources-playground.html">Resources</li></a>
		</ul>
	</div>
		
	<h2>Age</h2>
		<p>I am <a id="my-age"></a> years old.</p>
		<p>I was born in <a id="birthYear"></a></p>
		<p>I will graduate in <a id="graduationYear"></a></p>
		<p>I have <a id="siblings"></a> brothers and sisters.</p>
		<p>I have <a id="kids"></a> kids.</p>

	<h2>Funny Line</h2>
		<p>Real Funny... <a id="reveal-funny-line"></a> <button onclick="revealFunny()">See funny stuff</button> </p>

	<h2>2 Truths 1 Lie</h2>

		<p>I have been out of the country twice. <a id="reveal-Lie"></a> <button onclick="revealLie()">Guess this is the lie..</button> </p>

		<p>I have created my own game that is fully functional. <a id="reveal-truth"></a> <button onclick="revealTruth()">Guess this is the lie..</button> </p>

		<p>I have eaten alligator. <a id="reveal-truth2"></a> <button onclick="revealTruth2()">Guess this is the lie..</button> </p>
	
	<h2>Functions</h2>

		<p>What's my favorite video game? <a id="reveal-Fact"></a> <button onclick="revealFact()">Guess then click here.</button> </p>

		<p>What do you think is the worst song of all time? <a id="reveal-Fact2"></a> <button onclick="revealFact2()">Click here for my thoughts.</button> </p>

		<p>What is my favorite color? <a id="reveal-Fact3"></a> <button onclick="revealFact3()">Guess then click here.</button> </p>
			
















			
		<script src="../JS/Scripts.js"></script>
	</body>


	</html>