<!doctype html>
<html>

	<head>
		<title>Resources Playground</title>
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
			<link rel="stylesheet" type="text/css" href="../CSS/Main.css">
​	</head>
	<body>
		<div class="nav">
			<ul>
				<li><a class="default" href="../index.html">Home</li></a>
				<li><a href="html-playground.html">HTML</li></a>
				<li><a href="CSS-playground.html">CSS</li></a>
				<li><a href="Bootstrap-playground.html">Bootstrap</li></a>
				<li><a href="Javascript -playground.html">JavaScript</li></a>
				<li><a href="jQuery-playground.html">jQuery</li></a>
				<li><a href="Git-playground.html">Git</li></a>
				<li><a href="Resources-playground.html">Resources</li></a>
			</ul>
		</div>

		<div>
			<h2>Inspiration and Motivation</h2>
				<p>Here's a little image to keep in mind when things get tough in coding.</p>
				<img src="../img/vikingPicture.png"/>
		</div>
		<div class="resources">
			<h2>Resources</h2>
				<h3>Guwd Resources!</h3>

			<table border="1">
				<tr>
					<td>Languages</td>
					<td>Site Names</td>
					<td>Link</td>
					<td>Description</td>
				</tr>
				<tr>
					<td>HTML, CSS, JavaScript, jQuery</td>
					<td>w3schools</td>
					<td><a href="http://www.w3schools.com/">w3schools</a></td>
					<td>This site has practive examples for basic web development.</td>
				</tr>
				<tr>
					<td>HTML, CSS, JavaScript, jQuery, Git, Command line, Python</td>
					<td>Codeacedemy</td>
					<td><a href="https://www.codecademy.com/">Codeacedemy</a></td>
					<td>This site with help you practice your skills and is completly free to use.</td>
				</tr>
				<tr>
					<td>HTML, CSS, JavaScript, jQuery</td>
					<td>freecodecamp</td>
					<td><a href="https://www.freecodecamp.com/">freecodecamp</a></td>
					<td>Good use for portfolio building.</td>
				</tr>
				<tr>
					<td>Bootstrap</td>
					<td>Bootstrap</td>
					<td><a href="http://startbootstrap.com/">StartBootstrap</a></td>
					<td>Helpful site used for developing apps.</td>
				</tr>
				<tr>
					<td>Any language</td>
					<td>Slack Overflow</td>
					<td><a href="http://stackoverflow.com/">Slack Overflow</a></td>
					<td>When more developed this site is a great help.</td>
				</tr>
			</table>
		</div>
	</body>
</html>